
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 10px;
    height:100px;
    width: 93vw;
    margin: 0px 40px;
    position: sticky;
    top:0;
    opacity: 1;
    background-color: #FFFFFF;
}

.logo{
    width: 110px;
    position: relative;
    top: 2px;
    cursor: pointer;
    padding-left: 5px;
}

.center{
    width: 370px;
    padding: 10px 24px;
    display: flex;
    gap: 10px;
    height: 45px;
    border-radius:30px;
    border: 1px solid lightgray;
    margin-left: 172px; 
}

.center:hover{
    width: 370px;
    padding: 10px 24px;
    display: flex;
    gap: 10px;
    box-shadow:2px 2px 2px 1px rgba(0, 0, 0, 0.2) ;
    border-radius:30px ;
    height: 45px;
    cursor: pointer;
}

.link{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: gray;
    padding: 0 5px;
    cursor: pointer;
}

.link-right{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
    padding: 0 5px;
    border-right: 2px solid gray;
    cursor: pointer;
    padding: 0 8px;
}


.search{
    margin-left: 5px;
    height: 26px;
    padding:  0 5px;
    cursor: pointer;
}

.end{
    display: flex;
    justify-content: space-between;
}

 .end a{
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
 }

.air{
    display: flex;
    height: 35px;
    border-radius: 25px;
    text-decoration: none;
    color: black;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    padding: 8px;
    font-size: large;
}

.air:hover{
    display: flex;
    height: 35px;
    background-color: lightgray;
    text-decoration: none;
    color: black;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    padding: 8px;
    box-shadow:2px 2px 2px 1px rgba(0, 0, 0, 0.2) ;
}

.globe img{
    
    width: 30px;
    height: 30px;
    padding: 5px;
    position: relative;
    top:4px;
    border-radius: 50%;
    align-items: center; 

}

.globe:hover{
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgb(221, 221, 221);
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2) ;
}
.profile{
    width: 70px;
    border-radius: 20px;
    border: 1px solid lightgray;
    transform: translate(4px, 0px);
}
.profile:hover{
    width: 70px;
    border-radius: 20px;
    border: 1px solid lightgray;
    transform: translate(4px, 0px);
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2) ;
}

.profile .menu
{
    width: 20px;
    border-radius: 50%;
    height: 20px;
    transform: translate(5px, -1px);

 }
 .profile .usr{
    width: 30px;
    border-radius: 50%;
    height: 30px;
    transform: translate(5px, 4.5px);
 }


hr{
    width:90vw;
    height: 1px;
    opacity: 0.2;
    margin: 2px auto;
    position: fixed;
    bottom: 0px;
}

.carousel{
    width: 93vw;
    display: flex;
    position: sticky;
    justify-content: space-evenly;
    top:80px;
    font-family: 'Roboto', sans-serif;
    margin: 5px 46px ;
    background-color: #ffffff;
 }

.category {

    justify-content: space-evenly;
    padding:10px;
    height: 45px;
    opacity: 0.3;   
    flex-wrap: wrap; 
    align-items: center;
    background-color: #ffffff;
}

.category:hover{ 
    opacity:1;
}
h5{
    margin-bottom: 13px;
}
h5 .container img   :hover{
    opacity:1;
}

.container:hover{
    border-bottom: 1px solid black;
}

.omg{
    margin-left:10px;
}

.container-2{
    display: flex;
    justify-content: space-between;
    padding:10px;
    width:600px;
    margin: 20px auto;
    margin-bottom: 0px;
    border:1px solid lightgray;
    border-radius: 20px;
    z-index: 1;
    
}

.price{
    position: relative;
    top: 0px;
    font-family: 'Roboto', sans-serif;
    padding:10px;
    border-right:1px solid lightgray ;
    z-index: -1;
}
.des{
    display: flex;
    text-align: center;

    font-family: 'Roboto', sans-serif;
    padding: 14px;
    margin-right: 73px;
}

/* The switch - the box around the slider */
.switch {
   
    position: relative;
    display: inline-block;
    top: 11px;
    right:32px;
    width: 60px;
    height: 34px;
    
  }

  .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      transition: .4s;
      z-index: -1;
  
    }

  /* Hide default HTML checkbox */

  .switch input {display: none;}

  /* The slider */

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:checked + .slider::before {
    transform:translateX(26px);

  }
  

  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
    background-color: gray; 
}
 
.slider.round:before {
    border-radius: 50%;
}

.btn-1{
      display: flex;
      position: absolute;
      position: fixed;
      background-color: black;
      bottom: 57px;
      left: 44vw;
      border: none;
      border-radius: 30px;
      width:160px;
      cursor: pointer;
}


.btn-2 a{
    text-decoration: none;
    color: white;
    font-family: 'Roboto',sans-serif;
    padding: 10px;
    position: relative;
    bottom: 23px;
    left: 11px;
    font-size: 16px;

}
  
.btn-2 img{
    padding: 10px;
    height: 40px;
    margin: 10px;
}

.card{
    transition: .3s;
    width: 320px;
    border-radius: 14px;
    padding: 10px;
    margin: 50px auto;
    z-index: -1;
}

.card img{
    width: 100%;
    height: 270px;
    border-radius: 14px;
}

.cards{
    display: flex;
    justify-content: space-between;
    width: 93vw;
    margin: 0 auto;
}

h4{
    margin-left:5px;
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
}

p{
    padding: 5px;
    color: gray;
    font-family: 'Roboto', sans-serif;
}
 
.date{
    padding: 3px;
    color: gray;
}

.rating{
    display: flex;
    justify-content: space-between;
}

.star{
    padding-right:5px;
}

.price-tag{
    font-family: 'Roboto', sans-serif;
    padding-left: 5px;

}



/* For mobile phones screen size upto 500px */

@media only screen  and (max-width: 500px){
    .hero-nav{
        margin: 0px;
        padding: 0px 0px;
        width: 100vw;
        gap:0px;
        cursor: pointer;
    }
    
    .logo,.end,.end a,.air,.globe img,.profile,.profile.menu,.profile .usr {
        display: none;
       
    }
    hr{
        position: fixed;
        z-index: 2;
    }
    
    .center{
        cursor: pointer;
        position: relative;
        right: 3px;
        width:100vw;
        height: 60px;
        margin-left: 12px;
        margin-top: 28px; 
        margin-bottom: 15px;
        border-radius:30px;
        border: 1px solid lightgray;
        box-shadow:2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        z-index: 1;
        font-size: 13px;
    }
    
   
    .center .bottom{
        position: absolute;
        top: 28px;
        left: 57px;
        color: gray;
    }
    .bottom-right{
        position: absolute;
        top: 28px;
        left: 58px;
    }
 
    
    .link{
        top: 28px;
      left: 123px;
     position: absolute;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        color: gray;
        cursor: pointer;  
    }
    
    .link-right{
        position: absolute;
        left:57px;
        border:none;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        color: black;
        cursor: pointer;
    }
    
    
    .search{
        position: absolute;
        top: 17px;
        left: 6px;
        height: 26px;
        padding:  0 5px;
        cursor: pointer;
        z-index: 2;
    
    }
    
   
     .carousel{
        width: 93vw;
        display: flex;
        position: fixed;
        overflow: scroll;
        justify-content: space-evenly;
        top:80px;
        font-family: 'Roboto', sans-serif;
        margin: 10px 10px ;
        background-color: #ffffff;
         z-index: 1;
         cursor: pointer;
    }

     .container-2{
         display: flex;
         margin-top: 100px;
         flex-direction: column;
         padding: 6px;
         width:90vw;  
    }
    .container{
        margin: 10px;
    }
    h5{
        margin:5px;
        cursor: pointer;
       
    }
    .container-2 .price {
        padding: 10px;
        width: 49vw;
        border: none;
    
    }
    .price h4{
        margin: 0px;
    }
    div.des{
        padding: 0px;
        width: 45vw;
        margin-bottom: 5px;
    }
    .des p{
        padding: 0px;
        color:rgb(114, 111, 111);
    }
    h4 .price{
        width:50vw;
        margin: 0px;
        font-size: 15px;
        padding: 0px;
        padding-bottom: 5px;
    }
    
    .button{
        height:0px;
    }
    .switch {
   
        position:relative;
        display: inline-block;
        top: -56px;
        left: 173px;
        width: 60px;
        height: 34px;
      }

      
      .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          border-radius: 34px;;
          transition: .4s;
          z-index: -1;
          
        }
   
        .switch input {display: none;}
        
      .slider::before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        transition: .4s;
        border-radius: 50px;
        
      }
      
      input:checked + .slider {
        background-color: #2196F3;
      }
      
      
      input:checked + .slider:before {
       
        transform: translateX(26px);
      }
      
  
    .card{
        transition: .3s;
        width: 93vw;
        border-radius: 14px;
        padding: 10px;
        margin: 50px auto;
        z-index: -1;
    }
    
    .card img{
        width: 100%;
        height: 270px;
        border-radius: 14px;
    }
    
    .cards{
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 93vw;
        margin: 0 auto;
    }
    .btn-1{
        display: flex;
        position: fixed;
        background-color: black;
        bottom: 57px;
        left: 25vw;
        border: none;
        border-radius: 30px;
        width:160px;
        cursor: pointer;
  }
    .btn-2 a{
        text-decoration: none;
        color: white;
        font-family: 'Roboto',sans-serif;
        padding: 10px;
        bottom: 23px;
        left: 25px;
        font-size: 16px;
    
    }
      
    .btn-2 img{
        padding: 10px;
        height: 40px;
        margin: 10px;
    }
}

    
